@model IEnumerable<GeneralStore.MVC.Models.Transaction>


@{
    ViewBag.Title = "Transactions";
}

<h2>List of Transactions</h2>

<p>
    @Html.ActionLink("Add a Transaction", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfTransaction)
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateTimeOfTransaction)
    </td>
    <td>
        @Html.ActionLink("Change", "Edit", new { id = item.TransactionId }) |
        @Html.ActionLink("More Info", "Details", new { id = item.TransactionId }) |
        @Html.ActionLink("Remove", "Delete", new { id = item.TransactionId }) |
    </td>
</tr>
    }

</table>

